// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
//  Escreva um código em VM que realize a seguinte
//  operação:
//    (14+2)-(123-1)
//
//  O resultado deve ser salvo em temp 0
//  
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************
// ---------------------------------

function Main.main 0

// 1. Calcular (14+2) e colocar na pilha (X)
push constant 14
push constant 2
add

// 2. Calcular (123-1) e colocar na pilha (Y)
push constant 123
push constant 1
sub

// 3. Fazer a subtração final: X - Y  (16 - 122 = -106)
sub

// 4. Salvar o resultado
pop temp 0

// esse loop sempre deve existir!
// caso contrario o computador vai
// executar lixo de memoria.
label while
  goto while
